<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.testbench.app.modular.system.dao.LogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xyz.testbench.app.modular.system.model.Log">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="uid" property="uid" />
		<result column="type" property="type" />
	</resultMap>

	<sql id="Base_Column_List">
		id, name, uid, type
	</sql>

	<insert id="insertLog" parameterType="com.xyz.testbench.app.modular.system.model.Log">
		insert into `log`
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="name != null" >
				name,
			</if>
			<if test="uid != null" >
				uid,
			</if>
			<if test="type != null" >
				type,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="name != null" >
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="uid != null" >
				#{uid,jdbcType=VARCHAR},
			</if>
			<if test="type != null" >
				#{type,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

</mapper>
